# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.sqlite3

# Environment
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django media
Backend/media/

# OpenCode
.opencode/
